@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:100,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
svg {
  width: 20vw;
  height: 20vh;
  padding: -20px;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: 1000;
  text-transform: uppercase;
  color: Grey;
}
h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}
input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  background-color: white;
  color: white;
  margin-left: 3vh!important ;

}
label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
}
.papers{
  min-height: 250px;
}
span {
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
  color: #311B92;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  color: Grey;
}
.new-travel-button {
  margin-top: 20px;
  background-color: white;
}
.loginForm {
  z-index: 2;
  background-image: url("../image/mainpageimage.png");
  height: 74.3vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

html {
  background: linear-gradient(45deg, #002635 30%, #5DBB9B 90%);

}
button {
  background: white;
}
.primary-button {

  background: green;
  color: white;
}
.paper {
  border-radius: 20px;
}
// I added a background container here to replicate the example you gave me.
// The forms of the style in material-ui-next is quite preset so I need to overide it to style it as the example.
//
.form-container{
  height: 50vh;
  width: 60vw;
  background-image: url("../image/pattern2.png");
  background-repeat: no-repeat;
  background-size: cover;
  // I did not use this to avoid to use too much override
  // text-align: center;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 25vh;

}

.form-group{
  margin-top: 2vh ;
  text-align: center;
}

.forgot{
  color: white;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px ;
  padding-top: 3vh;
  padding-bottom: 3vh;

}
.form-control{
  background-color: white;
  border-radius: 5px;
  width: 30vw;
  margin-left: -20px

}
.login-button{
  text-align: center;
}
//Material-ui-next allows you to create theme for all your button but to do so it adds classes behind so you need to add them back in the HTML in order to target the right element if you want to override it.
.login{
  color:white;
  text-align:center;
  background-color: #66CDAA;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 2.5vh;
  width: 30vw;
  border-radius: 5px;
  font-size: 16px;
}

.register{
font-size: 14px;
margin-top: 5vh;
color: #66CDAA;
text-decoration: none !important;
text-align:center;
}

.register-wrap{
  text-align: center;
}
.forgot-wrap{
padding-top: 2vh;
text-align: left;
margin-left: 15vw;
}
.wrapper {
  //adjust once
  padding-top: 6.5vh;
}

.MuiInput-input-14 {
padding: 2.5vh 0 2.5vh !important;
}
